version: '3.6'

services:

  backend:
    build: backend
    hostname: backend-host
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    networks:
      - form-network
  
  frontend:
    build: frontend
    hostname: frontend-host
    volumes:
      - ./frontend:/app
    environment:
      BACKEND_URL: "http://backend-host:8000/submit"
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - form-network

networks:
  form-network: {}
